.button {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    min-width: 95px;
    height: 32px;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
    transition: .1s;
    outline: none;
    &:hover {
        box-shadow: 2px 2px 2px #1C2833;
    }
    &:active {
        box-shadow: 0 0 0;
        transform: translate(2px, 2px);
    }
    &:disabled {
        box-shadow: 0 0 0;
        background-color: #000000 !important;
        opacity: 30%;
    }
}