body {
    background-color: #F8F9F9;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 72px;
}

.empty {
    margin-top: 16%;
    font-size: 21px;
    color: #34495E;
    text-transform: uppercase;
}