.nav {
    background-color: #34495E;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 100;
    box-shadow: 2px 4px 2px #85929E;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar_item {
    margin: 24px;
    list-style: none;
}

.navbar_link {
    text-decoration: none;
    color: #D4E6F1;
    &:hover {
        color: #AEB6BF;
    }
    &_active {
        font-weight: bold;
        color: #F8F9F9;
    }
}

.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    top: 106px;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #617f8f, 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.5), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.7), 1.8em -1.8em 0 0em #617f8f, 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.5), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.7), 2.5em 0em 0 0em #617f8f, 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.5), 2.5em 0em 0 0em rgba(97, 127, 143, 0.7), 1.75em 1.75em 0 0em #617f8f, 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.5), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.7), 0em 2.5em 0 0em #617f8f, -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.5), 0em 2.5em 0 0em rgba(97, 127, 143, 0.7), -1.8em 1.8em 0 0em #617f8f, -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.5), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.7), -2.6em 0em 0 0em #617f8f, -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.5), -2.6em 0em 0 0em rgba(97, 127, 143, 0.7), -1.8em -1.8em 0 0em #617f8f;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #617f8f, 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.5), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.7), 1.8em -1.8em 0 0em #617f8f, 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.5), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.7), 2.5em 0em 0 0em #617f8f, 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.5), 2.5em 0em 0 0em rgba(97, 127, 143, 0.7), 1.75em 1.75em 0 0em #617f8f, 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.5), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.7), 0em 2.5em 0 0em #617f8f, -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.2), -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.5), 0em 2.5em 0 0em rgba(97, 127, 143, 0.7), -1.8em 1.8em 0 0em #617f8f, -2.6em 0em 0 0em rgba(97, 127, 143, 0.2), -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.5), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.7), -2.6em 0em 0 0em #617f8f, -1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(97, 127, 143, 0.2), 1.8em -1.8em 0 0em rgba(97, 127, 143, 0.2), 2.5em 0em 0 0em rgba(97, 127, 143, 0.2), 1.75em 1.75em 0 0em rgba(97, 127, 143, 0.2), 0em 2.5em 0 0em rgba(97, 127, 143, 0.2), -1.8em 1.8em 0 0em rgba(97, 127, 143, 0.5), -2.6em 0em 0 0em rgba(97, 127, 143, 0.7), -1.8em -1.8em 0 0em #617f8f;
    }
}