.modal {
    color: #ffffff;
    background-color: #e94b35;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 580px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

.modalHeader {
    width: 100%;
    background-color: #d64531;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px auto;
    h4 {
        font-size: 18px;
    }
}

.modalBody {
    p {
        margin: 30px 50px;
        line-height: 2rem;
        text-align: center;
    }
}

.closeBtn {
    color: #ffffff;
    position: absolute;
    right: 8px;
    font-size: 45px;
    line-height: 25px;
    font-weight: 100;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    outline: none;
    &:hover {
        transform: scale(1.05);
    }
}

.overlay {
    background-color: black;
    opacity: 60%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
        background-color: #b53726;
        color: #ffffff;
        font-size: 16px;
        width: 90px;
        height: 35px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        &:hover {
            opacity: .85;
        }
    }
}