.modal {
    color: #ffffff;
    background-color: #AEB6BF;
    display: flex;
    flex-direction: column;
    min-width: 580px;
    max-width: fit-content;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    z-index: 100;
    border-radius: 8px;
}

.modalHeader {
    width: 100%;
    background-color: #85929E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    h4 {
        font-size: 18px;
        padding-top: 16px;
    }
    border-radius: 8px 8px 0 0;
}

.modalBody {
    .price {
        font-size: 40px;
    }
    div {
        color: #34495E;
        padding: 4% 8%;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
    }
}

.closeBtn {
    color: #ffffff;
    position: absolute;
    right: 8px;
    font-size: 45px;
    line-height: 25px;
    font-weight: 100;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    outline: none;
    &:hover {
        transform: scale(1.05);
    }
}

.overlay {
    background-color: black;
    opacity: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
        margin: 5px;
    }
}