.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEDEF;
    width: 320px;
    min-height: 400px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #CCD1D1;
    margin: 24px;
}

.img {
    display: flex;
    align-items: center;
    width: 288px;
    height: 256px;
    img {
        width: 100%;
        max-height: 100%;
    }
}

.like {
    font-size: 13px;
    font-weight: bold;
    color: #212F3C;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 24px;
    position: relative;
    top: -32px;
    i {
        font-size: 20px;
        color: #F4D03F;
        margin-right: 8px;
    }
}

.name {
    color: #212F3C;
    font-weight: bold;
    font-size: 24px;
}

.purchase {
    width: 272px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    .price {
        color: #34495E;
        font-size: 28px;
        font-weight: bold;
    }
}

.deleteBtn {
    color: #34495E;
    position: absolute;
    top: 8px;
    right: -34px;
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
    font-size: 24px;
    box-shadow: 1px 1px 4px #34495E;
    line-height: 8px;
    padding: 0;
    &:hover {
        box-shadow: 1px 1px 6px #34495E;
    }
    &:active {
        box-shadow: -1px -1px 4px #34495E;
        transform: translate(2px, 2px);
    }
}